<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorWLogin</servlet-name>
        <servlet-class>ControladoresWeb.ControladorWLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorWCliente</servlet-name>
        <servlet-class>ControladoresWeb.ControladorWCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorWAdministrador</servlet-name>
        <servlet-class>ControladoresWeb.ControladorWAdministrador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorWLogin</servlet-name>
        <url-pattern>/ControladorWLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorWCliente</servlet-name>
        <url-pattern>/ControladorWCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorWAdministrador</servlet-name>
        <url-pattern>/ControladorWAdministrador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
